@font-face{
    font-family: ALSFuchsia;
    src: url('../fonts/alsfuchsia.otf') format("opentype");
}

h1, h2, h3, h4, h5, h6, h7, p{
    padding: 0;
    margin: 0;
    color: black;
}

body{
    margin: 0 10px;
    font-family: Arial, sans-serif;
}

h1{
    font-weight: bold;
    font-size: 29pt;
}

h2{
    font-weight: bold;
    font-size: 24pt;
}

h3{
    font-weight: bold;
    font-size: 18pt;
    line-height: 22pt;
}

p{
    color: #333333;
}

.clearfix{
    content: '';
    display: table;
}


/* FOR ALL PAGES */


header{
    margin-top: 40px;
}

.logo img{
    width: 100%;
}

.currency-select{
    margin-top: 40px;
    font-size: 14pt;
    text-align: center;
}

.currency-select select{
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

.search-form{
    margin-top: 40px;
}

.search{
    width: 100%;
    height: 30px;
    padding-left: 25px;
    font-size: 15pt;
    border: 1px solid #b2b2b2;
    border-radius: 17px;
    background: url(../img/loope.png) 5px center no-repeat;
    -webkit-box-shadow: inset 0px 4px 5px -4px rgba(191,191,191,1);
    -moz-box-shadow: inset 0px 4px 5px -4px rgba(191,191,191,1);
    box-shadow: inset 0px 4px 5px -4px rgba(191,191,191,1);
}

footer{
    margin-top: 70px;
    text-align: center;
}

footer img{
    width: auto;
}

.search-content{
    display: none;
}


/* PAGE "ABOUT" */


main{
    margin-top: 40px;
}

.page-title{
    max-width: 1200px;
    text-align: center;
    color: black;
}

.page-title p{
    max-width: 880px;
    margin: 20px auto 0;
    font-size: 18pt;
    line-height: 24pt
}

.text-block{
    max-width: 640px;
    margin: 0 auto;
    color: black;
}

.text-block h2{
    margin-top: 40px;
}

.text-block h3{
    margin-top: 30px;
}

.text-block p{
    margin-top: 30px;
    font-size: 14pt;
    line-height: 24pt;
}

.text-block span{
    font-style: italic;
}

.personal{
    margin: 0 auto;
    padding: 30px 0;
}

.member{
    width: 50%;
    float:left;
    padding-top: 35px;
    text-align: center;
}

.member:nth-child(2){
    padding: 0;
}

.notice{
    max-width: 840px;
    margin: 0 auto;
    padding: 40px 0 10px;
    font-family: ALSFuchsia;
    text-align: center;
}

.notice h3{
    margin: 40px 0;
    font-size: 22pt;
    line-height: 34pt;
}

hr{
    margin: 0;
    border-top: 1px solid black;
}

.text-block ul{
    margin: 0;
    position: relative;
    padding-left: 10px;
    font-size: 14pt;
    line-height: 24pt;
    color: #333333;
    list-style: none;
}

.text-block ul li{
    margin-bottom: 15px;
}

.text-block ul li:before{
    content: "-";
    position: absolute;
    left: 0;
}


/* MAIN PAGE */


.books{
    margin-top: 40px;
}

.book{
    margin-top: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.book:first-child{
    margin-top: 40px;
}

.books .book-cover{
    width: 100%;
    float: left;
    padding: 0 15%;
    background-color: transparent;
    border: none;
}

.book-cover img{
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

.books .book-cover img:hover{
    transform: scale(1.2);
}

.book-info{
    margin: 30px 4% 0;
    float: left;
    font-size: 14pt;
    color: #333333;
    background-color: transparent;
    border: none;
}

.book-info:hover{
    color: black;
    text-decoration: none;
}

.book u{
    color: #4283c0;
    cursor: pointer;
}

.book u:hover{
    color: #e51907;
}

.more-book{
    width: 92%;
    height: 40px;
    margin: 40px 4% 0;
    font-size: 14pt;
    color: #4283c0;
    border: 2px solid #95c1e5;
    border-radius: 10px;
    background: none;
}

.more-book:hover{
    border-color: #e51907;
    color: #e51907;
}


/* BOOK PAGE */

.detail-book{
    opacity: 0;
}

.detail-book .book{
    width: 100%;
    float: none;
}

.detail-book .book .book-cover{
    position: relative;
}

.detail-book .book img{
    width: 100%;
    padding: 0;
}

.eye{
    position: absolute;
    top: 50%;
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    overflow: hidden
}

.eyelid{
    width: 103%;
    height: 0;
    position: absolute;
    left: -1px;
    background-color: black;
    -webkit-animation: eyelid 2s linear infinite;
    animation: eyelid 2s linear infinite;
}

.top-eyelid{
    top: -1px;
}

.bottom-eyelid{
    bottom: -1px;
}

@-webkit-keyframes eyelid{
    0% {height: 0px;}
    25% {height: 60%;}
    50% {height: 0px;}
    100% {height: 0px;}
}


@keyframes top-eyelid{
    0% {height: 0px;}
    25% {height: 60%;}
    50% {height: 0px;}
    100% {height: 0px;}
}

.pupil{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
}

.book-description{
    margin-top: 40px;
    font-size: 18pt;
    color: #333333;
}

.book-description strong{
    color: red;
}

.review-block{
    margin-top: 60px;
    text-align: center;
}

.review-block p{
    margin-top: 25px;
    font-size: 16pt;
    color: #4c4c4c;
}

.feature-block{
    margin-top: 60px;
    text-align: center;
}

.feature-block p{
    margin-top: 25px;
    font-size: 16pt;
    color: #4c4c4c;
}

.buy-button{
    width: 100%;
    padding: 30px 0;
    margin-top: 60px;
    font-size: 24pt;
    text-align: center;
    display: inline-block;
    border: none;
    opacity: 0;
    color: white;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(56, 37, 57, 0.4),0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 20px 40px 0px rgba(56, 37, 57, 0.4),0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 40px 0px rgba(56, 37, 57, 0.4),0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.buy-button:hover{
    text-decoration: none;
    background-image: -moz-linear-gradient( 90deg, rgb(73,39,75) 0%, rgb(194,141,197) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(73,39,75) 0%, rgb(194,141,197) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(73,39,75) 0%, rgb(194,141,197) 100%);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(56, 37, 57, 0.4),0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 20px 40px 0px rgba(56, 37, 57, 0.4),0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 40px 0px rgba(56, 37, 57, 0.4),0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.buy-button:focus{
    background-image: -moz-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(56, 37, 57, 0.4),0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 10px 0px rgba(56, 37, 57, 0.4),0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px 0px rgba(56, 37, 57, 0.4),0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.buy-button a{
    text-decoration: none;
    color: white;
}

.book-notice{
    margin-top: 30px;
    text-align: center;
    font-style: italic;
}

.book-notice p{
    color: #dcdcdc;
}

.book-notice img{
    margin-top: 10px;
}


/* ORDER PAGE */

.book-order{
    position: relative;
    margin-top: 40px;
}

.loader{
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    opacity: 0;
}

.book-order .book-cover{
    width: 100%;
    margin-top: 40px;
}

.buy-form label{
    padding-left: 10px;
    margin-top: 20px;
    font-size: 12pt;
    color: black;
}

.buy-form input,textarea{
    padding-left: 5px;
    border: 3px solid black;
}

.person-data input,
.comment textarea,
.adress input{
    width: 100%;
}

.buy-form .selectors{
    width: 100%;
}

.delivery-select{
    margin-top: 20px;
    color: black;
}

.delivery-select p{
    padding-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    color: black;
}

.delivery-select label{
    margin-top: 10px;
}

.payment-select{
    margin-top: 20px;
    color: black;
}

.payment-select p{
    padding-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    color: black;
}

.payment-select label{
    margin-top: 10px;
}

.adress{
    display: none;
}

.total{
    margin-top: 20px;
    font-weight: bold;
    font-size: 12pt;
    color: black;
}

.order{
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #cecece;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
}

.success{
    display: none;
    opacity: 0;
}


/* SCREEN 480px */

@media (min-width: 480px){
    
    .person-data,
    .comment{
        width: 50%;
        float: left;
    }
    
    .person-data input,
    .comment textarea,
    .adress input{
        width: 90%;
    }
    
    .selectors div{
        width: 50%;
        float: left;
    }
    
}

/* SCREEN 640px */

@media (min-width: 640px){
    
    .logo{
        width: 50%;
        float: left;
    }
    
    .currency-select{
        width: 45%;
        margin-top: 0;
        margin-left: 15px;
        float: left;
    }

    .search-form{
        width: 50%;
        float: left;
        margin-top: 25px;
    }
    
    .book{
        width: 50%;
        margin-top: 40px;
    }
    
    .member{
        width: 33.3%;
        padding-top: 37px;
    }
    
    .detail-book .book img{
        width: auto;
    }
    
    .reviews-block{
        width: 50%;
        float: left;
    }
    
    .features-block{
        width: 50%;
        float: left;
    }
    
}


/* SCREEN 1024px */


@media (min-width: 1024px){
    
    .logo{
        width: auto;
    }
    
    .currency-select{
        width: 35%;
    }
    
    .search-form{
        width: auto;
        margin-top: 10px;
        float: right;
    }
    
    .book-order .book-cover{
        width: 50%;
        float: left;
        padding-right: 15px;
    }
    
    .buy-form{
        width: 50%;
        float: left;
        margin-top: 20px;
    }
}

@media (min-width: 1200px){
    
    .currency-select{
        margin-left: 10%;
    }
    
}


/* SCREEN 1366px */


@media (min-width: 1366px){
    
    .container{
        width: 1270px;
    }
    
    h1{
        font-size: 49pt;
    }
    
    h2{
        font-size: 29pt;
    }
    
    
    /* ALL PAGES */
    
    
    header{
        margin-top: 60px;
    }
    
    .search{
        width: 273px;
        font-size: 11pt;
    }
    
    main{
        margin-top: 60px;
    }
    
    footer{
        margin-top: 100px;
    }
    
    
    /* PAGE "ABOUT" */
    
    
    .page-title p{
        margin: 50px auto;
        font-size: 24pt;
        line-height: 34pt;
    }
    
    .text-block h2{
        margin-top: 0px;
    }
    
    .text-block .person-name{
        margin-top: 50px;
    }
    
    .text-block .person-name:first-of-type{
        margin-top: 30px;
    }
    
    .employees{
        margin-top: 70px;
    }
    
    .personal{
        width: 100%;
        padding-bottom: 60px;
    }
    
    .member{
        width: 16.666667%;
        padding-top: 30px;
    }
    
    .member:last-child{
        float: right;
    }
    
    .notice{
        padding: 50px 0 20px;
    }
    
    .notice h3{
        font-size: 26pt;
    }
    
    
    /* MAIN PAGE */
    
    
    .books .book{
        width: 25%;
        margin-top: 0;
        margin-bottom: 70px;
    }
    
    .book:first-child{
        margin-top: 0;
    }
    
    .more-book{
        width: 275px;
        position: relative;
        top: -20px;
        left: calc(50% - 137.5px);
        margin: 0;
    }
    
    
    /* BOOK PAGE */
    
    
    .detail-book{
        margin-top: 50px;
    }
    
    .detail-book .book{
        width: 33%;
        position: relative;
        left: 33%;
        float: left;
    }
    
    .book-description{
        margin-top: 50px;
    }
    
    .buy-button{
        width: 440px;
        position: relative;
        left: calc(50% - 220px);
        margin-top: 30px;
    }
    
    .reviews-block{
        position: relative;
        width: 33%;
        left: -33%;
        float: left;
    }
    
    .review-block{
        margin-top: 70px;
        padding: 0 20%;
    }
    
    .review-block:first-child{
        margin-top: 0;
    }
    
    .features-block{
        width: 33%;
        float:right;
    }
    
    .feature-block{
        margin-top: 70px;
        padding: 0 20%;
    }
    
    .feature-block:first-child{
        margin-top: 0;
    }
    
    .book-notice{
        width: 420px;
        position: relative;
        left: calc(50% - 210px);
    }
    
    
    /* ORDER PAGE */
    
    
    .book-order{
        margin-top: 100px;
    }
    
    .book-order .book-name{
        font-size: 26pt;
        font-weight: normal;
        line-height: 30pt;
    }
    
    .book-name a{
        text-decoration: underline;
    }

    .book-name a:hover{
        color: #337ab7;
    }
    
    .book-order .book-cover{
        width: 24%;
        float: right;
        margin-top: 30px;
    }
    
    .buy-form{
        width: 76%;
        margin-top: 30px;
    }
    
    .person-data input{
        width: 270px;
        height: 30px;
    }
    
    .buy-form div{
        width: 50%;
        float:left;
    }
    
    .buy-form div:last-child{
        float: right;
    }
    
    .comment textarea{
        width: 85%;
        height: 175px;
    }
    
    .buy-form label{
        font-size: 12pt;
    }
    
    .delivery-select p{
        font-size: 12pt;
    }
    
    .payment-select p{
        font-size: 12pt;
    }
    
    .adress input{
        width: 270px;
        height: 50px;
    }
    
    .total{
        font-size: 22pt;
        font-weight: normal;
        text-align: center;
    }
    
    .order{
        width: 84%;
        position: relative;
        left: 8%;
        margin-top: 35px;
        padding: 10px 0;
        font-size: 16pt;
    }
    
    .success{
        position: absolute;
        padding-top: 90px;
    }
    
    .success p{
        font-size: 26pt;
        color: black;
    }
}